.header-img{
    /* background-image:url('../img/bgImgHeader.jpeg');
    background-size: cover;
    background-repeat: no-repeat; */
    height: 700px;
    width:100%;
    background-color: rgb(105, 29, 37);
    color: beige;
    letter-spacing: 5px;
    font-size: 20px;
    font-family:serif;

}



nav{
    margin:0 auto;
    padding: 10px 0;
    margin-right: 0%;
}
ul{
    text-align: right;
}
li{
    display: inline-block;
    font-size: small;
}
nav>ul>li>a{
    padding:25px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration:none;
    display: block;
    color: beige;
}
nav>ul>li>a:hover{
    background-color: rgba(14, 27, 61, 0.678);
    color: rgba(179, 192, 184, 0.7)
}

.images1, .images2{
    display:flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: 15px;
    margin-left:60px;
}

#logoname{
    text-align: center;
    font-weight: 400;
    font-family: monospace;
    font-style: initial;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 100px;
}
#chef{
    margin-right: 250px;
}
#menu{
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
    font-size: 40px;
}
.container{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/Pizza1.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    color:white;
    
}
#show-your-order{
    margin-left: 120px;
    margin-top: 150px;
}
.social{
    display: flex;
    align-content: space-around;
   margin-top: 40px;
   margin-bottom: 30px;
   margin-left: 250px;

} 

.endings{
    padding-top: 10px;
    text-align: center;
    font-family: Times New Roman;
    text-transform: uppercase;
}

#contacts{
    background-color: rgb(105, 29, 37);
    color: beige;
    margin-top: 60px;
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
}


#about{
    margin-top: 60px;
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
    font-size: 40px;
}
 #aboutPara{
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    margin-left: 90px;
    margin-right: 90px;
} 
#size-charges, #crust-charges, #toppings-charges{
    color:wheat;
}